/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Colours */
:root {
  --slateblue: #6a5acd;
  --slatebabyblue: #5aaccd;
  --slateorange: #cd625a;
  --react-black: #282c34;
  --ghost-white: #F8F8FF;
}

body {
  background-color: var(--react-black);
}

.App {
  height: 100vh;
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
  color: var(--ghost-white);
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid slateblue;
}

.counter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 50px;
}

@media(max-width: 428px) {
  .counter-container {
    flex-direction: column;
    align-items: center;
  }

  .counter {
    margin-bottom: 20px;
  }
}

.counter {
  color: var(--ghost-white);
  background-color: var(--slateblue);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.counter button {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  width: 80%;

}

.counter-sum {
  margin-top: 40px;
  font-size: 30px;
  color: var(--ghost-white)
}

.counter-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  color: var(--ghost-white);
}

.counter-step input {
  width: 50%;
  margin-bottom: 20px;
}

.btn {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(--ghost-white);
  padding: 5px;
}

.primary {
  background-color: var(--slatebabyblue);
  border: none;
}

.danger {
  background-color: var(--slateorange);
  border: none;
}

.disabled {
  display: none;
}